# Program 1
# Method 1

In [5]:
#import pandas library
import pandas as pd

In [6]:
data= {'Name': ['Jai','Princi','Gaurav','Anju','Ravi','Natasha','Riya'],
      'Age': [17,17,18,17,18,17,17],
      'Gender': ['M','F','M','M','M','F','F'],
      'Marks': [90,76,'NaN',74,65,'NaN',71]}

In [7]:
df =pd.DataFrame(data)

In [8]:
df

      Name  Age Gender Marks
0      Jai   17      M    90
1   Princi   17      F    76
2   Gaurav   18      M   NaN
3     Anju   17      M    74
4     Ravi   18      M    65
5  Natasha   17      F   NaN
6     Riya   17      F    71

# Program 2 loading csv file
method 3

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('1.car driving risk analysis.csv')
df.head()

   speed  risk
0    200    95
1     90    20
2    300    98
3    110    60
4    240    72